{
  "_council": "C0…채널ID",
  "MAGE": "C0…채널ID",
  "MAGIC": "C0…채널ID",
  "MAGMA": "C0…채널ID",
  "MAGNET": "C0…채널ID",
  "mai-suite": "C0…채널ID",
  "MANA": "C0…채널ID",
  "MARK": "C0…채널ID",
  "MERLIN": "C0…채널ID",
  "MESH": "C0…채널ID",
  "mai-family": "C0…채널ID",
  "MOJO": "C0…채널ID",
  "MYSTIC": "C0…채널ID",
  "_qa": "C0…채널ID",
  "_notice": "C0…채널ID",
  "_dm": "C0…채널ID",
  "_status": "C0…채널ID"
}